<!-- pages/templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>
<style>
p.small {
  line-height: 1.2;
}

</style>

<p>interesting fact:</p>
<p>I'm into a lot of niche things like Yume Nikki and Touhou
    <p class="small">
　 　　　 　 　　　,.ﾍ　　　　　　　　　／＼<br>
　　　　　 　 　 　 /::::::＼　　　　　 ／::::::::::::}<br>
　　　　　　　　　/:::::::::::::::＼, --／::::::::::::::::::ト-､<br>
　　　　　　 　 ./:::::::;＞ ''"´￣￣ ｀"''＜::::::::::::::::| /｀!＿<br>
　　　　　　 　 |:;>'"　　　　　　　　　　　 ｀ヽ:::::ｱ´ ｀ヽ- ｀ヽ<br>
　　　　　　　／　, 　 {　　　|　 ,ﾊ__ 　　 ｀ヽ ∨　　　 ＿,ン<br>
　　　　　　./ 　/ 　_∧　　 ﾄ､/_」､　,ﾊ　　 ∨　　/´<br>
　　　　 　 '　　'　 |/ _｀'､　 | ´んlﾊY　ﾄ､　/　　 /<br>
　　　 　　.{ 　|　　|ｲ lﾊ　＼! 弋ｚｿム/　./　　 ∧<br>
　　　　　　ヽ ﾊ　.八 lり　 　 　 　⊂⊃r/　　 / 　＼<br>
　　　　　 　 ｿイﾚ}7⊃　rｧ ￣｀ヽ 　 ｿ´ゝ-､./　|　ｒ､）<br>
　　　　　　 .／/ 人　 　､ 　　　ﾉ　/　　ヽ- ｲ /}ノ<br>
　　　　　　（ｒ','　 _.ノ＞ ､.,_＿　 イ{　　　　　 }´　_,,..　-─ｧ<br>
　　　　　　　 |r'´∨´,＞r/ |__／ /!　　　　／'"´ 　 /__／<br>
　　　　　　　　　 ＼/ /:::|/ム､_/:::|ヽ-‐ｧ' --‐‐ ''"´／<br>
　　　　　　　　 ＜ｒ{ /::::{X}:::::::::::ﾚ'::／　 ,,.. -‐ '''"´<br>
　　　　　　　　　／7:::::::::::::::::::::::::::/　￣ "'' ｰ- ､<br>
　　　　 　,/´￣ヽ/::::::::|::::/:::::::::::/ ---─　 '''"´<br>
　　　　　{|　 ￣}ﾉ:::::::::::!::':::::::::::/ﾄ 、　＼/＼<br>
　　　　　ヽ.＿,ｿ'::::::::::::::::::::::::::::::::'､　`'' ｰ---ヽ<br>
　　　　　　 　/::::::::::::::::::::::::::::::::::::::::ヽ<br>
　　　　　 　./:::::::::::::::::､__／::::::::::::::::::::＼<br>
　　　　 　 /:::::::::::::::::::::::::::::::::::::::::::::::::::::::::＼<br>
　　　　　∧／＼:::::::::::::::::::::::::::::::::::::/＼/　ﾊ<br>
　　　　　l、 　 　 ＼/＼／＼/＼/　 　　／<br>
　 　 　 　 ト ...,,,＿＿＿＿＿,,,...、-‐''"「´<br>
　　 　 　 .|　　 /　　 　　 　　 　　'.,　　 ',<br>
　　 　　　{､＿;'　　　 　　　　　　 　' ___,.ﾊ<br>
　　　 　　ト--ｲ　　 　 　　　　　 　　|--‐ }<br>
　　　　 　'､＿ﾉ　　　　　　　　　　 　 ､＿ﾉ<br>

{% endblock content %}
