<!-- pages/templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Homepage</h1>
<p>Luke Robicheaux</p>
<style>
p.small {
  line-height: 1.2;
}

</style>
    <p class="small">
　　　　　　　　　 ,.　'"´ ￣￣｀ヽ____<br>
　　　　　　　　／　　　　 　　　 ﾉ　　｀ヽ<br>
　　　 　 　　./　　　　 _,,..,--‐'　,　 　　 ';<br>
　　　　　　　|　　　 ∠__/　　／｀i　 　　 !<br>
　　 　 　 ,. -! 　　/:::::::::'､__ノｰｧ '､_____ノ<br>
　　　 ／:::::::::'､__ノ::::::::::::::::::::::::｀ヽ.<br>
　　 /:::::::::::::::::::::::::::::;::::::ヽ;::::::::::;i::::',<br>
　　.!::::::::/::::::/:::__」_;!::::::::::ﾄ-:::;ﾊ::::::〉<br>
　　|:::::::::!:::::::!::::/_」_ﾊ:::::::::!ｧr､!::iイ<br>
　　|::::::::ﾊ::::::!7'´i´ﾊ　＼/ り ,!ﾚi::!<br>
　　!::::::::!::::V|ﾍ.　'､ｿ　　　　 .,.,∨ﾊ<br>
　　 '､:::::'､:::::;ゝ,.,., 　 /´￣'i　 人::::!<br>
　　　.）::::::＼::＞_､., _!___,.ノイ:::ハﾉ<br>
　　 （:::ﾉ／｀ンﾍ.　 ＼_,/`Yヽﾚﾍ（<br>
　　　 ）'ヽ/´ 　 ､＼___ﾑ__ﾉ､　ヽ.｀<br>
　　　　　/　　 　 ヽ. ＼w,/ Y 　 ';<br>
　　　　 〈　　_,.ゝﾍｿ　　(ｿ　 {,-､_,〉<br>
　　　　 　ゝ,.ﾍ　　 ' , .[二二二l'二二二二]<br>
　　　 _ 　 /　∧,　　ヽ! 　 　 　|　奉　納.　|<br>
　　,'´　｀ｿ 　 　 ＼　　` ｰっ,　|　Oh　No　!<br>
　　'､. ／　 /　　　 ,ゝ､,____ノ-┴‐､t--,ｧ‐┘<br>
　　／　　 ,　　　　　　　　　ヽ　＼　￣<br>
</p>
{% endblock content %}
